.expense {
  display: block;
  height: 100vh;
  background-image: url('./BACKGROUND.png');
}
.text-container {
  display: block;
  /* justify-content: flex-start; */
  align-items: center;
  /* height: 100vh; */
  /* background-position: center; */
  margin-top:20vh;
  padding: 0;
}

.form-result-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0px;
}

.form-container,
.result-container {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}

.description-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.uploaded-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ff0000;
}

.text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  padding-bottom: 15%;
  font-size: 250%;
  margin-top: -50px;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  /* border-radius: 10px; */
}

.description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  padding-bottom: 10%;
  font-size: 100%;
  margin-top: -50px;
}

.download-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}